<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
            {% if title %}
                <title>Flask Website - {{ title }}</title>
            {% else %}
                <title>Flask Website</title>
            {% endif %}
    {% endblock %}

</head>
<body>
    <header>
            <nav>
                <ul class="nav_links">
                    <li><a href="home">Home</a></li>
                    <li><a href="main">Main simulation</a></li>
                </ul>
            </nav>
        </header>
{% block body %}

{% endblock %}
</body>
</html>